.container-fluid{
    // max-width: 1400px;

    &__wide{
        // max-width: 1400px;
    }
}

#page-wrap{
    margin-top: 40px;

    .main-section{

    }
}

.page{

    &__header{
        padding-bottom: 25px;
        background-color: #f9f9fb;
        padding-top: 25px;
    }

    &__content{
        background-color: $bg-grey;
        padding-top: 20px;
        padding-bottom: 30px;
        min-height: calc(100vh - 190px);
    }

}

// Utilities
.margin-t-50{
    margin-top: 50px;
}