form{
    margin-top: 20px;


    label{
        .lighter{
            color: #ddd;
            font-weight: 300;
            margin-left: 10px;
        }
    }
}

.form-control, input{
    border-radius: 2px;
    border: 1px solid #dddee2;

    &:focus{
        outline: none;
        border-color: $blue;
        box-shadow: none;
    }
}

.select2-container{
    width: 100%;
}

.form-group > .select2-container{
    margin-top: 0 !important;
}