#register{
    .logo{
        margin-top: 100px;
        text-align: center;
        img{
            max-width: 120px;
        }
    }
    form{
        padding: 20px;
    }
    p{
        margin-top: 30px;
        text-align: center;
    }
}