.teams{
    margin-bottom: 50px;

    form{
        textarea{
            max-height: 50px;
        }
    }

    .members-list{
        margin-top: 45px;
    }

    .resourcelist{
        margin-bottom: 20px;
    }
}

.teams-list{
    margin-top: 40px;
}