
// Base colours
$white: #fff;
$blue: #28a8d3;
$light-blue: #c6dfe7;
$green: #1ec185;

$dark-grey: #212a3e;
$grey: #696c74;
$light-grey: #b2b5bc;

$black: #000;

$table-grey: #47506e;

$label-grey: #696c74;
$label-span: #b2b5bc;

$border-grey: #e6e7e8;

$background-grey: #f7f8f8;


// V2 Colours

$bluegrey: #8492a6;
$tealish: #28a8d3;
$faded-green: #74b069;
$bg-grey: #f9f9fb;
$pale-grey-two: #e0e6ed;
$deep-lilac: #847ab9;

 // Fonts

$valelaRound: 'Varela Round', sans-serif;